torch
matplotlib
numpy
ultralytics
cvzone
hydra-core
opencv-python-headless==4.10.0.84
Pillow
PyYAML
requests
scipy
torchvision
tqdm
filterpy
scikit-image
lap
fastapi
uvicorn
openai-whisper
sounddevice
python-multipart